<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="name" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput placeholder="Age" formControlName="age" required>
          </mat-form-field>
          <br>
          <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>

            <br>
            <mat-form-field>
                <mat-label>Password</mat-label>
            
                <input matInput placeholder="Password" formControlName="password" required>
              </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Next of Kin</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="kinname" required>
          </mat-form-field>
          <br>
          <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput placeholder="Age" formControlName="kinage" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="kinemail" required>
              </mat-form-field>
              <br>
            <mat-form-field>
                <mat-label>Relation</mat-label>
                <input matInput placeholder="Relation" formControlName="relation" required>
              </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Address</ng-template>
          <mat-form-field>
            <mat-label>Street No</mat-label>
            <input matInput placeholder="Street Number" formControlName="street" required>
          </mat-form-field>
          <br>
          <mat-form-field>
              <mat-label>Zip Code</mat-label>
              <input matInput placeholder="Zip Code" formControlName="zipcode" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>State</mat-label>
                <input matInput placeholder="State" formControlName="state" required>
              </mat-form-field>
              <br>
            <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput placeholder="Country" formControlName="country" required>
              </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submit()">Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
  