<p>studentsignup works!</p>


<div class="container">
    <div class="col-7 mx-auto shadow p-4">
        <!-- <form action="" (click)="checkemail()"> -->
        <h3>Signup Page</h3>
        <input type="text" placeholder="Full Name" class="form-control my-2 shadow-none " [(ngModel)]="fullname" name="fullname">
        <input type="text" placeholder="Email" class="form-control my-2 shadow-none " [(ngModel)]="email" name="email">
        <input type="text" placeholder="Password" class="form-control my-2 shadow-none " [(ngModel)]="password" name="password">
        <input type="text" placeholder="Phone Number" class="form-control my-2 shadow-none " [(ngModel)]="phonenumber" name="phonenumber">
        <select class="form-control my-2" [(ngModel)]="class" name="class" >
            <option value="" disabled selected>Select Class</option> 
            <option value="jss1">JSS 1</option>
            <option value="jss2">JSS 2</option>
            <option value="jss3">JSS 3</option>
            <option value="sss1">SSS 1</option>
            <option value="sss2">SSS 2</option>
            <option value="sss3">SSS 3</option>
            
        </select>

        <div *ngIf="class === 'sss1'|| class === 'sss2' || class === 'sss3'">
            <select class="form-control my-2" [(ngModel)]="dept" name="dept">
                <option value="" disabled selected>Select Department</option> 
                <option value="arts">Arts</option>
                <option value="commercial">Commercial</option>
                <option value="science">Science</option>
            </select>
        </div>
        <button (click)="signup()">Submit</button>
        <div *ngIf="errorMessage" class="error-message text-danger fw-bold">
            {{ errorMessage }}
          </div>
        
    <!-- </form> -->
    </div>

</div>