<!-- <h2>Welcome to first class</h2>
<p>Name is {{firstname}}</p>
<p>age is {{age}}</p>

<p>I am {{objone.age}} years old</p>

<h2>Array</h2>
<div  *ngFor="let item of objArray.details">
    <p>{{item.firstname1}}</p>
    <p>{{item.lastname1}}</p>

</div>
<p>Lastname:{{objArray.details[0].lastname1}}</p>
<p>Firstname:{{objArray.details[0].firstname1}}</p>
<p>State:{{objArray.details[0].state}}</p>
<p>Phone Number:{{objArray.details[0].phonenumber}}</p>

<p>Book title: {{objArray.books[0].title}}</p>
<p>Book Author: {{objArray.books[0].author}}</p>
<p>Book prod year: {{objArray.books[0].prodyear}}</p>

<div>


<app-contact-app></app-contact-app>
<app-landingpage></app-landingpage>
</div>

<div class="container-fluid">
    <div class="col-8">
        <p class="text-primary">dhdhdghd</p>
        <div>
            <app-editcomponent/>
        </div>
    </div>

</div> -->



<router-outlet />
